.LayoutSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  main {
    padding-top: 60px; // 👈 обязательно
  }

  footer {
    margin-top: auto;
  }
}
